.nav {
    grid-area: n;
    background-color: #79aca9;
    padding-right: 60px;  
  }

.item a {
    color: #fff;
    line-height: 1.6;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
  }

.item a.activeLink {
   color: gold;
  }