.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .activeItems {
    color: gold;
}
.messages {
    padding: 10px;
}

.messages .message {

}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 5px;
}